In [2]:
import pandas as pd
import numpy as np

In [3]:
road_df = pd.read_csv(
    "../data/raw/road_crash_trends_2014_2023.csv"
)

road_df

   Year  Road_Crashes  Road_Crash_Fatalities  Fatal_Road_Crashes
0  2014          8623                   1671                1629
1  2015          8085                   1622                1582
2  2016          7375                   1591                1548
3  2017          6673                   1584                1565
4  2018          6515                   1690                1657
5  2019          5610                   1463                1433
6  2020          4178                   1196                1163
7  2021          4720                   1239                1206
8  2022          5652                   1461                1428
9  2023          5834                   1457                1432

In [4]:
road_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year                   10 non-null     int64
 1   Road_Crashes           10 non-null     int64
 2   Road_Crash_Fatalities  10 non-null     int64
 3   Fatal_Road_Crashes     10 non-null     int64
dtypes: int64(4)
memory usage: 452.0 bytes

In [5]:
road_df.isna().sum()

Year                     0
Road_Crashes             0
Road_Crash_Fatalities    0
Fatal_Road_Crashes       0
dtype: int64

In [6]:
road_df.duplicated().sum()

np.int64(0)

In [7]:
road_df.columns = (
    road_df.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
)

In [8]:
road_df

   year  road_crashes  road_crash_fatalities  fatal_road_crashes
0  2014          8623                   1671                1629
1  2015          8085                   1622                1582
2  2016          7375                   1591                1548
3  2017          6673                   1584                1565
4  2018          6515                   1690                1657
5  2019          5610                   1463                1433
6  2020          4178                   1196                1163
7  2021          4720                   1239                1206
8  2022          5652                   1461                1428
9  2023          5834                   1457                1432

In [9]:
road_df["year"] = road_df["year"].astype(int)

numeric_cols = [
    "road_crashes",
    "road_crash_fatalities",
    "fatal_road_crashes"
]

road_df[numeric_cols] = road_df[numeric_cols].astype(int)

In [10]:
road_df.describe()

             year  road_crashes  road_crash_fatalities  fatal_road_crashes
count    10.00000     10.000000              10.000000           10.000000
mean   2018.50000   6326.500000            1497.400000         1464.300000
std       3.02765   1415.350546             170.218944          168.687779
min    2014.00000   4178.000000            1196.000000         1163.000000
25%    2016.25000   5620.500000            1458.000000         1429.000000
50%    2018.50000   6174.500000            1523.500000         1490.500000
75%    2020.75000   7199.500000            1614.250000         1577.750000
max    2023.00000   8623.000000            1690.000000         1657.000000

In [11]:
road_df.to_csv(
    "../data/cleaned/road_crash_trends_cleaned.csv",
    index=False
)

In [12]:
def clean_columns(df):
    df.columns = (
        df.columns
        .str.strip()
        .str.lower()
        .str.replace(" ", "_")
        .str.replace("/", "_")
        .str.replace("-", "_")
    )
    return df

In [13]:
road_df = pd.read_csv("../data/raw/road_crash_trends_2014_2023.csv")

In [14]:
road_df = clean_columns(road_df)

road_df["year"] = road_df["year"].astype(int)

numeric_cols = [
    "road_crashes",
    "road_crash_fatalities",
    "fatal_road_crashes"
]
road_df[numeric_cols] = road_df[numeric_cols].astype(int)

In [15]:
road_df.to_csv(
    "../data/cleaned/road_crash_trends_cleaned.csv",
    index=False
)

In [16]:
vehicle_totals = pd.read_csv("../data/raw/vehicle_totals_2014_2023.csv")

In [17]:
vehicle_totals = clean_columns(vehicle_totals)
vehicle_totals["year"] = vehicle_totals["year"].astype(int)

for col in vehicle_totals.columns:
    if col != "year":
        vehicle_totals[col] = vehicle_totals[col].astype(int)

In [18]:
vehicle_totals.to_csv(
    "../data/cleaned/vehicle_totals_cleaned.csv",
    index=False
)

In [19]:
vehicle_growth = pd.read_csv("../data/raw/vehicle_growth_2014_2023.csv")

In [20]:
vehicle_growth = clean_columns(vehicle_growth)
vehicle_growth["year"] = vehicle_growth["year"].astype(int)

for col in vehicle_growth.columns:
    if col not in ["year", "yearly_growth_percent"]:
        vehicle_growth[col] = vehicle_growth[col].astype(int)

vehicle_growth["yearly_growth_percent"] = vehicle_growth[
    "yearly_growth_percent"
].astype(float)

In [21]:
vehicle_growth.to_csv(
    "../data/cleaned/vehicle_growth_cleaned.csv",
    index=False
)

In [22]:
victim_df = pd.read_csv("../data/raw/victim_category_2019_2023.csv")

In [23]:
victim_df = clean_columns(victim_df)
victim_df["year"] = victim_df["year"].astype(int)

for col in victim_df.columns:
    if col != "year":
        victim_df[col] = victim_df[col].astype(int)

In [24]:
victim_df.to_csv(
    "../data/cleaned/victim_category_cleaned.csv",
    index=False
)

In [25]:
vehicle_type_df = pd.read_csv(
    "../data/raw/vehicle_type_crashes_2021_2023.csv"
)

In [26]:
vehicle_type_df = clean_columns(vehicle_type_df)

vehicle_type_df["vehicle_type"] = (
    vehicle_type_df["vehicle_type"]
    .str.strip()
    .str.lower()
)

In [27]:
vehicle_type_df.to_csv(
    "../data/cleaned/vehicle_type_crashes_cleaned.csv",
    index=False
)