In [7]:
df = pd.read_csv("../data/cleaned/master_yearly_dataset.csv")

In [8]:
cluster_features = [
    "fatal_crash_ratio",
    "fatalities_per_10k_vehicles",
    "road_crash_fatalities",
    "road_crashes"
]

In [10]:
df["fatal_crash_ratio"] = (
    df["fatal_road_crashes"] / df["road_crashes"]
)

In [11]:
df["fatalities_per_10k_vehicles"] = (
    df["road_crash_fatalities"] / df["total_motor_vehicles"]
) * 10000

In [12]:
df[["fatal_crash_ratio", "fatalities_per_10k_vehicles"]].head()

   fatal_crash_ratio  fatalities_per_10k_vehicles
0           0.188913                     2.014912
1           0.195671                     1.837454
2           0.209898                     1.639405
3           0.234527                     1.511053
4           0.254336                     1.508353

In [13]:
cluster_features = [
    "fatal_crash_ratio",
    "fatalities_per_10k_vehicles",
    "road_crash_fatalities",
    "road_crashes"
]

In [14]:
X = df[cluster_features].fillna(0)

In [15]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [16]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=3, random_state=42)
df["cluster"] = kmeans.fit_predict(X_scaled)

In [17]:
df["cluster"].value_counts()

cluster
0    5
2    3
1    2
Name: count, dtype: int64

In [18]:
cluster_labels = {
    0: "High Risk",
    1: "Moderate Risk",
    2: "Lower Risk"
}

df["risk_category"] = df["cluster"].map(cluster_labels)

In [19]:
df.to_csv(
    "../data/cleaned/master_yearly_with_clusters.csv",
    index=False
)